body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13vh 167vh 155vh;
    background: var(--soft-grey);
}

main{
    width: 99vw;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 55vh 80vh;
    grid-template-areas: "bg bg"
                         "guide content";
}

/* BACKGROUND */

#Bg_img{
    grid-area: bg;
    background-size: 100% 100%;
    -webkit-box-shadow: 0px -50px 35px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px -50px 35px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px -200px 35px rgba(0, 0, 0, 0.5);
    width: 99vw;
    height: 55vh;
    background-image: url(images/Backgrounds/cover.png);
    color: var(--white);
    font-size: 85%;
}

#Bg_img > div{
    display: flex;
    gap: 1rem;
    margin-top: 36rem;
    margin-left: 55rem;
}

#Circle{
    width: 1.2rem;
    height: 1.2rem;
    border: 3px solid var(--white);
    border-radius: 100%;
    opacity: .3;
    margin-top: .5rem;
}

#Circle ~ p{
    color: var(--white);
    opacity: .6;
}

/* GUIA */

#Guide{
    grid-area: guide;
    width: 30rem;
    height: 44rem;
    background: var(--white);
    align-items: center;
    margin-left: 17rem;
    margin-top: -5rem;
    display: grid;
    grid-template-rows: 9rem 28rem;
    grid-row-gap: 2rem;
    -webkit-box-shadow: 3px 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 3px 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 3px 3px 5px rgba(57, 63, 72, 0.3);
}

#Guide > p{
    color: var(--white);
    background-color: var(--blue);
    font-size: 150%;
    height: 9rem;
    padding-top: 3rem;
    padding-left: 1.5rem;
}

#Guide ul{
    font-size: 120%;
    display: grid;
    grid-template-rows: 7rem 7rem 7rem 7rem;
}

#Guide ul li{
    padding-left: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    cursor: pointer;
    font-weight: 300;
}

#Guide ul li img{
    position: absolute;
    margin-top: 0.4rem;
    margin-left: 23rem;
    opacity: 0;
}

#Guide ul li:hover img{
    opacity: 1;
    transition: 0.6s;
}

#Guide ul li:hover{
    background-color: var(--blue);
    color: var(--white);
}

/* CONTEÚDO */

#Text {
    grid-area: content;
    padding-left: 4rem;
    padding-top: 8rem;
}

#Text h2{
    color: var(--blue);
}

#Text div{
    width: 80rem;
}

#Text p{
    text-align: justify;
    margin-top: 2rem;
    font-size: 95%;
    font-weight: 300;
}

#Text h4{
    font-weight: 500;
}

/* ESTRUTURAÇÃO DOS FUNDADORES */

#Founders p{
    width: 60rem;
    margin-left: 14rem;
}

#Founders h2{
    margin-bottom: 2rem;
}

#Founders div{
    display: flex;
}

#Founders div  div{
    width: 140px;
}

#Founders div > :nth-child(2){
    display: block;
    width: 40rem;
    height: 10rem;
    transform: translate(1rem, 3rem);
    padding: 0;
}

#Founders div > div img{
    clip-path: circle(50% at 50% 50%);
}

#Founders div p{
    margin-left: 0;
    width: auto;
    font-size: 150%;
    font-weight: 500;
}

#Founders div div h4{
    margin-top: -3rem;
    width: 30rem !important;
    height: 2rem !important;
}

.Space{
    margin-top: 8rem;
}

.Image{
    width: 15rem !important;
    padding-inline: 1rem;
    padding-top: .65rem;
    height: 15rem;
    border: 3px solid var(--grey);
    border-radius: 100%;
}

.Image.One{
    padding-inline: .75rem;
    padding-top: .6rem;
}

/* DIVISION OF CONTENT */

.History{
    display: none;
}

.Mission{
    display: none;
}

.Partners{
    display: none;
}

.Founders{
    display: none;
}

#History-subtitle{
    display: none;
}

#Mission-subtitle{
    display: none;
}

#Partners-subtitle{
    display: none;
}

#Founders-subtitle{
    display: none;
}

.Active{
    display: block !important;
}

.On-section{
    background: var(--blue);
    color: var(--white);
}
