body {
    display: grid;
    grid-template-columns: 1fr;
    background: var(--soft-grey);
}

/* CADASTRO DO VOLUNTÁRIO */

main{
    padding-bottom: 5rem;
}

/* NOME DO FORMULÁRIO E POSICIONAMENTO DA SETA */

#instructions h3{
    margin-left: 33rem;
    margin-top: 8rem;
}

#instructions img{
    margin-top: 8rem;
}

#instructions{
    display: flex;
}

/* FORMATO DO FORMULÁRIO */

.form{
    margin-left: 56.5rem;
    width: 40rem; 
    background-color: var(--white);
    border: 2px solid var(--blue);
    padding-top: 2rem;
    padding-inline: 3.5rem;
    padding-bottom: 4rem;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px #0b0b0b;
}

/* FORMATAÇÃO GERAL DOS INPUT, SELECT E TEXTOS */

.form input, select{
    display: block;
    margin-top: 0.6rem;
    padding-left: 2%;
    height: 3rem;
    width: 30rem;
    border-radius: 3px;
    border: 2px solid rgb(187, 190, 218);
}

select{
    margin-left: 1.7vw;
}

label p{
    margin-top: 2.5rem;
    font-weight: 700;
}

/* FORMATAÇÃO DOS INPUT RADIO E CHECKBOX */

.options {
    margin-top: 2.5rem;
}

.options input{
    width: 2.5rem;
    height: 2.5rem;
}

.options p{
    font-weight: 700;
}

.options .option{
    margin-top: 2rem;
    display: flex;
}

.option div{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    width: 20rem;
}

.option div ~ div{
    padding-left: 1rem;
}

.option div p{
    margin-top: .5rem;
    margin-left: .7rem;
    height: 2.5rem;
}

/* FORMATAÇÃO DOS BOTÕES */

.form button{
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 110%;
    height: 4rem;
    width: 15rem;
    margin-top: 11vh;
    margin-left: 16.2vw;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    transition: .35s;
}

.form button:hover, .button:hover{
    filter: brightness(1.2);
    color: var(--white);
    background: var(--pink);
    transition: .35s;
}

#Buttons button{
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 110%;
    height: 4rem;
    width: 15rem;
    transform: translate(43.28vw, 5vh);
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    transition: .35s;
}

#Buttons button:hover{
    filter: brightness(1.2);
    color: var(--white);
    background: var(--pink);
    transition: .35s;
}

#Return-one-button, #Last-return-button{
    transform: translate(36.8vw, 5vh) !important;
}

#Return-one-button:hover, #Last-return-button:hover{
    background: var(--blue) !important;
}

#Button{
    display: flex;
    justify-content: center;
}

/* SEÇÕES DAS PERGUNTAS */

#Section-one{
    display: none;
}

#Section-two{
    display: none;
}

#Section-three{
    display: none;
}

.Show-questions{
    display: block !important;
}

/* BOTÕES DAS SEÇÕES */

#Submit-button{
   display: none;
   position: absolute;
}

#Section-one-button{
    display: none;
    transform: translate(53vw, 5vh) !important;
}

#Second-questionary{
    display: none;
}

#Last-return-button{
    display: none;
}

.Show-btn{
    display: flex !important;
}