body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13vh 240vh 155vh;
    background: var(--soft-grey);
}

 /* CADASTRO DO VOLUNTÁRIO */

 #instructions h3{
    margin-left: 33rem;
    margin-top: 8rem;
}

#instructions img{
    margin-top: 8rem;
}

#instructions{
    display: flex;
}

.form{
    margin-left: 56.5rem;
    width: 40rem;
    height: 87rem; 
    background-color: var(--white);
    border: 2px solid var(--blue);
    padding-top: 2rem;
    padding-left: 3.5rem;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px #0b0b0b;
}

.form.donate{
    height: 170rem;
}

.pronouns {
    margin-top: 2.5rem;
    width: 30rem;
    height: 13rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 5rem 5rem;
    grid-template-areas: "title title"
                         "option1 option2"
                         "option3 option4";
    overflow: hidden;
}

.option{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option input{
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.pronouns p{
    grid-area: title;
    margin-top: 0;
    font-weight: 700;
}

.option.one {
    grid-area: option1;
}

.option.two {
    grid-area: option2;
}

.option.three {
    grid-area: option3;
}

.option.four {
    grid-area: option4;
}

form input{
    display: block;
    margin-top: 0.6rem;
    height: 3rem;
    width: 30rem;
    border-radius: 3px;
    border: 2px solid rgb(187, 190, 218);
}

label p{
    margin-top: 2.5rem;
    font-weight: 700;
}

form button{
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 110%;
    height: 4rem;
    width: 15rem;
    margin-top: 5rem;
    margin-left: 21rem;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    transition: .7s;
}

form button:hover, .button:hover{
    filter: brightness(1.2);
    color: var(--white);
    background: var(--pink);
    transition: .7s;
}