* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

html {
    --black: #0b0b0b;
    --white: #FAFAFA;
    --blue: #3364D5;
    --soft-grey: #efefef;
    --medium-grey: #e0dede;
    --grey: #b1b0b0;
    font-size: 62.5%;
}

body, button, input, textarea {
    /* intervalo de tamanho */
    font-size: clamp(14px, 1.6rem, 2vw);

    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

body {
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

.content{
    width: 100%;
    margin: 0 auto;
}

/* input and buttons */
input, button, .button{
    border-radius: .8rem;
    height: 3rem;
}

button, .button{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 0;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;

    background: var(--blue);
    color: var(--white);

    transition: filter .2s;

    cursor: pointer;
}

button:hover, .button:hover{
    filter: brightness(1.2);
}

/* HEADER */

header {
    box-sizing: border-box;
    padding: 0.5rem;
    grid-area: h;
    display: flex;
    align-items: center;
    background-color: var(--blue); 
    justify-content: space-between;
    box-shadow: 0 0 20px -1px rgb(50, 50, 50)
}

header img {
    margin-left: 3rem;
}

header > a{
    margin-left: 1rem;
    color: var(--white);
    font-size: 220%;
    font-family: "Poppins";
    text-shadow: 
            -1px -1px  0px var(--black),
            -1px 1px  0px var(--black),
             1px -1px  0px var(--black),
             2px 0px  0px var(--black);
}

header nav{
    margin-left: -10rem;
}

#menu {
    display:flex;
    list-style: none;
    gap: 3rem;
}

#menu li{
    box-sizing: border-box;
}

#menu a{
    color: var(--white);
    font-weight: 500;
    font-family: "Poppins";
    display: block;
    padding: .5rem;
}

#Login {
    margin-right: 6rem;
    color: var(--white);
    font-weight: 500;
    font-family: "Poppins";
    cursor: pointer;
}

/* LOGIN */

.log_lb {
    margin-top: 2rem;
    font-size: 130%;
    font-weight: 700;
    display: block;
    color: var(--black);
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: var(--medium-grey);
}

.log_inp {
    border-color: var(--medium-grey);
    padding-left: 0.5rem;
    display: inline-block;
    width: 18rem;
    font-size: 60%;
}

.log_inp:focus-within{
    border-color: var(--black);
}

/*Background*/

#Login_action{
    display: none;
    position: absolute;
}

#Login_action.active{
    display: flex;
}

#GreyBg {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: var(--grey);
    opacity: 0.6;
}

/*Close Button*/

#CloseBtn {
    margin-top: -1.8rem;
    margin-left: 46.5rem;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

/*Logo in Login*/

.Logo {
    margin-left: -5rem;
}

.Logo p{
    margin-left: 1rem;
    color: var(--white);
    font-size: 220%;
    font-family: "Poppins";
    text-shadow: 
            -1px -1px  0px var(--black),
            -1px 1px  0px var(--black),
             1px -1px  0px var(--black),
             2px 0px  0px var(--black);
}

.Logo img,p {
    display: inline-block;
}

/*Buttons*/

#new_account{
    font-weight: 700;
    font-family: "Poppins";
    font-size: 120%;
}

.center a:visited{
    color: var(--blue);
}

.log_btn {
    font-weight: 700;
    font-size: 130%;
    font-family: "Poppins";
    margin-left: 10rem;
    margin-top: 2rem;
    padding: 2rem;
    width: 30rem;
    border: none;
}

/*Containers*/

.center{
    transform: translateX(50);
}

.box {
    position: fixed;
    opacity: 1;
    z-index: 1000;
    margin-left: 34vw;
    text-align: center;
    padding-top: 3rem;
    transform: translateY(65%);
    width: 50rem;
    height: 32rem;
    overflow: hidden;
}

/* Glass Efect */
.glass {
    background: linear-gradient(135deg, rgba(255,255,255,0.1)), rgba(255,255,255,0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

/*FOOTER*/

footer{
    grid-area: ft;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-top: 1.8rem;
    align-items: center;
    background: linear-gradient(-45deg, #352f44, #3c2e5f,#411e8f, #310a5d) no-repeat;
    background-size: 300% 300%;
    animation: footer 9s alternate infinite;
    color: var(--white);
}

@keyframes footer {
    from {
        background-position: 0 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

footer ul{
    display:flex;
    list-style: none;

    margin-left: 15rem;
} 

.contact{
    width: 25rem;
}

.instagram{
    margin-top: 2rem;
    margin-left: 30rem;
}

.telegram{
    margin-top: 2rem;
    margin-left: 3rem;
}

.ft_logo{
    margin-left: 20rem;
    font-size: 220%;
    text-shadow: 
            -1px -1px  0px var(--black),
            -1px 1px  0px var(--black),
             1px -1px  0px var(--black),
             2px 0px  0px var(--black);
}